# Import Libs

In [41]:
import pandas as pd

# Open File

In [42]:
df = pd.read_csv('../DATA/train.csv', nrows=500000)
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

## Size of the Dataset

In [43]:
df.shape

(500000, 8)

## Data Type and Nan count by features

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                500000 non-null  object
 1   fare_amount        500000 non-null  float64
 2   pickup_datetime    500000 non-null  object
 3   pickup_longitude   500000 non-null  float64
 4   pickup_latitude    500000 non-null  float64
 5   dropoff_longitude  499995 non-null  float64
 6   dropoff_latitude   499995 non-null  float64
 7   passenger_count    500000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 30.5+ MB

## First Informations about Dataset

In [45]:
df.describe(include='all')

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,500000,500000.000000,500000,500000.000000,500000.000000,499995.000000,499995.000000,500000.000000
unique,500000,NaN,461206,NaN,NaN,NaN,NaN,NaN
top,2009-06-15 17:26:21.0000001,NaN,2012-01-26 21:22:00 UTC,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,6,NaN,NaN,NaN,NaN,NaN
mean,NaN,11.358361,NaN,-72.519958,39.920276,-72.522435,39.916526,1.683428
std,NaN,9.916617,NaN,11.856831,8.073475,11.797362,7.391002,1.307395
min,NaN,-44.900000,NaN,-2986.242495,-3116.285383,-3383.296608,-2559.748913,0.000000
25%,NaN,6.000000,NaN,-73.992047,40.734917,-73.991382,40.734057,1.000000
50%,NaN,8.500000,NaN,-73.981785,40.752670,-73.980126,40.753152,1.000000
75%,NaN,12.500000,NaN,-73.967117,40.767076,-73.963572,40.768135,2.000000
max,NaN,500.000000,NaN,2140.601160,1703.092772,40.851027,404.616667,6.000000

## check if we have values = 0

In [46]:
df.loc[(df['pickup_longitude'] == 0.0) | (df['pickup_latitude'] == 0.0) & (df['dropoff_longitude'] == 0.000000)  | (df['dropoff_latitude'] == 0.000000) | (df['fare_amount'] == 0.0) & (df['passenger_count'] == 0)]

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
11,2012-12-24 11:24:00.00000098,5.5,2012-12-24 11:24:00 UTC,0.0,0.0,0.000000,0.000000,3
15,2013-11-23 12:57:00.000000190,5.0,2013-11-23 12:57:00 UTC,0.0,0.0,0.000000,0.000000,1
26,2011-02-07 20:01:00.000000114,6.5,2011-02-07 20:01:00 UTC,0.0,0.0,0.000000,0.000000,1
124,2013-01-17 17:22:00.00000043,8.0,2013-01-17 17:22:00 UTC,0.0,0.0,0.000000,0.000000,2
192,2010-09-05 17:08:00.00000092,3.7,2010-09-05 17:08:00 UTC,0.0,0.0,0.000000,0.000000,5
...,...,...,...,...,...,...,...,...
499724,2014-05-13 14:22:50.0000001,7.0,2014-05-13 14:22:50 UTC,0.0,0.0,0.000000,0.000000,1
499821,2014-11-10 18:21:50.0000004,8.5,2014-11-10 18:21:50 UTC,0.0,0.0,-73.993571,40.733068,1
499882,2014-06-03 08:28:21.0000001,4.0,2014-06-03 08:28:21 UTC,0.0,0.0,0.000000,0.000000,1
499913,2012-05-07 13:45:43.0000003,4.9,2012-05-07 13:45:43 UTC,0.0,0.0,0.000000,0.000000,2
499938,2010-12-10 09:53:55.0000003,6.9,2010-12-10 09:53:55 UTC,0.0,0.0,0.000000,0.000000,1

# Delete all this rows at 0

In [48]:
df = df.drop(df.loc[(df['pickup_longitude'] == 0) | (df['pickup_latitude'] == 0) & (df['dropoff_longitude'] == 0)  | (df['dropoff_latitude'] == 0) | (df['fare_amount'] == 0) & (df['passenger_count'] == 0)], inplace=True)
df

KeyError: "['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'passenger_count'] not found in axis"