# PREPROCESSING TO PREPARE THE DATASET FOR MODELS

# IMPORT LIBS

In [4]:
import pandas as pd

# OPEN DATASET

In [16]:
df = pd.read_csv('../../DATA/PREPROCESSING/prepro_05_DAY_OR_NIGHT.csv')
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Distance (miles),Driving distance (miles),Driving duration (min),day_of_the_week,date,time,public_holiday,price_by_miles,price_by_time,daytime
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,0.639764,0.703741,2.111222,Monday,2009-06-15,1900-01-01 17:26:21,False,6.394401,2.131467,True
1,5.7,-73.982738,40.761270,-73.991242,40.750562,2,0.863167,0.949483,2.848450,Thursday,2011-08-18,1900-01-01 00:35:00,False,6.003265,2.001088,False
2,7.7,-73.987130,40.733143,-73.991567,40.758092,1,1.737223,1.910945,5.732836,Saturday,2012-04-21,1900-01-01 04:30:42,False,4.029419,1.343140,False
3,5.3,-73.968095,40.768008,-73.956655,40.783762,1,1.241710,1.365881,4.097642,Tuesday,2010-03-09,1900-01-01 07:51:00,False,3.880281,1.293427,True
4,12.1,-74.000964,40.731630,-73.972892,40.758233,1,2.353742,2.589116,7.767348,Thursday,2011-01-06,1900-01-01 09:50:45,False,4.673410,1.557803,True

# DROP USELESS COLUMN

In [17]:
df = df.drop(columns=['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'date', 'time', 'price_by_miles', 'price_by_time'], axis=1)
df.head()

,fare_amount,passenger_count,Distance (miles),Driving distance (miles),Driving duration (min),day_of_the_week,public_holiday,daytime
0,4.5,1,0.639764,0.703741,2.111222,Monday,False,True
1,5.7,2,0.863167,0.949483,2.848450,Thursday,False,False
2,7.7,1,1.737223,1.910945,5.732836,Saturday,False,False
3,5.3,1,1.241710,1.365881,4.097642,Tuesday,False,True
4,12.1,1,2.353742,2.589116,7.767348,Thursday,False,True

# GET DUMMIES DATASET

In [18]:
df = pd.get_dummies(df)
df.head()

,fare_amount,passenger_count,Distance (miles),Driving distance (miles),Driving duration (min),public_holiday,daytime,day_of_the_week_Friday,day_of_the_week_Monday,day_of_the_week_Saturday,day_of_the_week_Sunday,day_of_the_week_Thursday,day_of_the_week_Tuesday,day_of_the_week_Wednesday
0,4.5,1,0.639764,0.703741,2.111222,False,True,0,1,0,0,0,0,0
1,5.7,2,0.863167,0.949483,2.848450,False,False,0,0,0,0,1,0,0
2,7.7,1,1.737223,1.910945,5.732836,False,False,0,0,1,0,0,0,0
3,5.3,1,1.241710,1.365881,4.097642,False,True,0,0,0,0,0,1,0
4,12.1,1,2.353742,2.589116,7.767348,False,True,0,0,0,0,1,0,0

# EXPORT CSV

In [19]:
df.to_csv('../../DATA/PREPROCESSING/prepro_06_ML_DATASET.csv', index=False)