## PREPROCESSING OF NA AND 0 VALUES

# Import Libs

In [1]:
import pandas as pd

# Open File

In [2]:
df = pd.read_csv('../../DATA/train.csv', nrows=2000000)
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

## Size of the Dataset

In [3]:
df.shape

(2000000, 8)

## Data Type and Nan count by features

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   key                object
 1   fare_amount        float64
 2   pickup_datetime    object
 3   pickup_longitude   float64
 4   pickup_latitude    float64
 5   dropoff_longitude  float64
 6   dropoff_latitude   float64
 7   passenger_count    int64
dtypes: float64(5), int64(1), object(2)
memory usage: 122.1+ MB

In [5]:
df.isna().sum()

key                   0
fare_amount           0
pickup_datetime       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude    14
dropoff_latitude     14
passenger_count       0
dtype: int64

# Drop the rows without data

In [6]:
df = df.dropna()
df.shape

(1999986, 8)

## First Informations about Dataset

In [7]:
df.describe(include='all')

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,1999986,1.999986e+06,1999986,1.999986e+06,1.999986e+06,1.999986e+06,1.999986e+06,1.999986e+06
unique,1999986,NaN,1638254,NaN,NaN,NaN,NaN,NaN
top,2009-06-15 17:26:21.0000001,NaN,2012-08-24 20:39:00 UTC,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,9,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.134768e+01,NaN,-7.252324e+01,3.992965e+01,-7.252395e+01,3.992808e+01,1.684125e+00
std,NaN,9.852609e+00,NaN,1.286798e+01,7.983330e+00,1.277497e+01,1.032382e+01,1.314979e+00
min,NaN,-6.200000e+01,NaN,-3.377681e+03,-3.458665e+03,-3.383297e+03,-3.461541e+03,0.000000e+00
25%,NaN,6.000000e+00,NaN,-7.399208e+01,4.073491e+01,-7.399141e+01,4.073400e+01,1.000000e+00
50%,NaN,8.500000e+00,NaN,-7.398181e+01,4.075263e+01,-7.398016e+01,4.075312e+01,1.000000e+00
75%,NaN,1.250000e+01,NaN,-7.396713e+01,4.076710e+01,-7.396369e+01,4.076809e+01,2.000000e+00
max,NaN,1.273310e+03,NaN,2.856442e+03,2.621628e+03,3.414307e+03,3.345917e+03,2.080000e+02

## check if we have values = 0

In [8]:
df.loc[(df['pickup_longitude'] == 0.0) | (df['pickup_latitude'] == 0.0) | (df['dropoff_longitude'] == 0.000000)  | (df['dropoff_latitude'] == 0.000000) | (df['fare_amount'] == 0.0) | (df['passenger_count'] == 0)]

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
11,2012-12-24 11:24:00.00000098,5.5,2012-12-24 11:24:00 UTC,0.000000,0.000000,0.000000,0.000000,3
15,2013-11-23 12:57:00.000000190,5.0,2013-11-23 12:57:00 UTC,0.000000,0.000000,0.000000,0.000000,1
26,2011-02-07 20:01:00.000000114,6.5,2011-02-07 20:01:00 UTC,0.000000,0.000000,0.000000,0.000000,1
124,2013-01-17 17:22:00.00000043,8.0,2013-01-17 17:22:00 UTC,0.000000,0.000000,0.000000,0.000000,2
192,2010-09-05 17:08:00.00000092,3.7,2010-09-05 17:08:00 UTC,0.000000,0.000000,0.000000,0.000000,5
...,...,...,...,...,...,...,...,...
1999748,2012-07-30 23:55:00.00000073,5.7,2012-07-30 23:55:00 UTC,0.000000,0.000000,0.000000,0.000000,5
1999852,2012-09-05 11:58:00.000000171,7.0,2012-09-05 11:58:00 UTC,0.000000,0.000000,0.000000,0.000000,2
1999868,2010-11-13 21:40:22.0000001,10.1,2010-11-13 21:40:22 UTC,0.000000,0.000000,0.000000,0.000000,3
1999923,2015-03-05 18:19:46.0000006,2.5,2015-03-05 18:19:46 UTC,-73.990112,40.746502,0.000000,0.000000,1
1999986,2012-04-20 15:37:56.0000003,5.7,2012-04-20 15:37:56 UTC,-73.978148,40.741777,-73.988282,40.749933,0

# DELETE ALL ROWS WITH 0 VALUES + DELETE ALL ROWS WITH FARE AMOUNT UNDER 0$

In [9]:
df.drop(df.loc[(df['pickup_longitude'] == 0.0) | (df['pickup_latitude'] == 0.0) | (df['dropoff_longitude'] == 0.000000)  | (df['dropoff_latitude'] == 0.000000) | (df['fare_amount'] <= 1) | (df['passenger_count'] == 0)].index, inplace=True)
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...,...
1999995,2014-11-17 13:51:02.0000002,4.0,2014-11-17 13:51:02 UTC,-73.950787,40.770836,-73.951043,40.774543,1
1999996,2013-02-25 17:51:28.0000004,7.0,2013-02-25 17:51:28 UTC,-73.983035,40.748276,-73.974725,40.741978,1
1999997,2013-07-12 22:03:41.0000006,10.5,2013-07-12 22:03:41 UTC,-74.003482,40.743577,-73.976758,40.765265,1
1999998,2009-01-17 09:35:37.0000002,10.9,2009-01-17 09:35:37 UTC,-73.971819,40.797243,-73.985921,40.752459,3
1999999,2010-01-16 15:46:00.000000153,12.9,2010-01-16 15:46:00 UTC,-73.955140,40.779382,-73.914775,40.820602,2

# EXPORT DATAFRAME TO CSV FOR DATA VIZUALISATION

In [10]:
df.to_csv('../../DATA/PREPROCESSING/prepro_00_dropna.csv', index=False)