# DISTANCE AND DURATION CALCUL

# IMPORT LIBS

In [1]:
import pandas as pd
import plotly.express as px

# OPEN DATASET

In [2]:
df = pd.read_csv('../../DATA/PREPROCESSING/prepro_01_geo.csv')
df

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Distance (miles)
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.639764
1,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.863167
2,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,1.737223
3,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,1.241710
4,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1,2.353742
...,...,...,...,...,...,...,...,...,...
1789521,2014-11-17 13:51:02.0000002,4.0,2014-11-17 13:51:02 UTC,-73.950787,40.770836,-73.951043,40.774543,1,0.256146
1789522,2013-02-25 17:51:28.0000004,7.0,2013-02-25 17:51:28 UTC,-73.983035,40.748276,-73.974725,40.741978,1,0.615670
1789523,2013-07-12 22:03:41.0000006,10.5,2013-07-12 22:03:41 UTC,-74.003482,40.743577,-73.976758,40.765265,1,2.050854
1789524,2009-01-17 09:35:37.0000002,10.9,2009-01-17 09:35:37 UTC,-73.971819,40.797243,-73.985921,40.752459,3,3.177537
1789525,2010-01-16 15:46:00.000000153,12.9,2010-01-16 15:46:00 UTC,-73.955140,40.779382,-73.914775,40.820602,2,3.545447

# CALCUL OF DISTANCE WITH CAR

In [3]:
# Calculer la distance en voiture en utilisant une approximation
df['Driving distance (miles)'] = df['Distance (miles)'] * 1.5  # Facteur de vitesse moyen pour les routes urbaines

# Combinaison pondérée de la distance à vol d'oiseau et de la distance en voiture
df['Driving distance (miles)'] = 0.8 * df['Distance (miles)'] + 0.2 * df['Driving distance (miles)']

df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Distance (miles),Driving distance (miles)
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.639764,0.703741
1,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.863167,0.949483
2,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,1.737223,1.910945
3,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,1.241710,1.365881
4,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1,2.353742,2.589116

# CALCUL OF DURATION TIME

In [4]:
#  la vitesse moyenne des voitures dans les rues de New York varie de 15 à 25 km/h en heure de pointe. on choisie une valeur moyenne, par exemple 20 km/h

speed = 20  # Vitesse moyenne dans New York km/h
df['Driving duration (min)'] = df['Driving distance (miles)'] / (speed / 60)

# Afficher le DataFrame avec les temps de trajet calculés
df

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Distance (miles),Driving distance (miles),Driving duration (min)
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.639764,0.703741,2.111222
1,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.863167,0.949483,2.848450
2,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,1.737223,1.910945,5.732836
3,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,1.241710,1.365881,4.097642
4,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1,2.353742,2.589116,7.767348
...,...,...,...,...,...,...,...,...,...,...,...
1789521,2014-11-17 13:51:02.0000002,4.0,2014-11-17 13:51:02 UTC,-73.950787,40.770836,-73.951043,40.774543,1,0.256146,0.281761,0.845283
1789522,2013-02-25 17:51:28.0000004,7.0,2013-02-25 17:51:28 UTC,-73.983035,40.748276,-73.974725,40.741978,1,0.615670,0.677237,2.031712
1789523,2013-07-12 22:03:41.0000006,10.5,2013-07-12 22:03:41 UTC,-74.003482,40.743577,-73.976758,40.765265,1,2.050854,2.255939,6.767817
1789524,2009-01-17 09:35:37.0000002,10.9,2009-01-17 09:35:37 UTC,-73.971819,40.797243,-73.985921,40.752459,3,3.177537,3.495291,10.485873
1789525,2010-01-16 15:46:00.000000153,12.9,2010-01-16 15:46:00 UTC,-73.955140,40.779382,-73.914775,40.820602,2,3.545447,3.899991,11.699974

# EXPORT DF

In [5]:
df.to_csv('../../DATA/PREPROCESSING/prepro_01c_geo_calcul.csv', index=False)