# PREPROCESSING OF RESULTS DRIVING DISTANCE AND DURATION FROM CALCUL

# IMPORT LIBS

In [7]:
import pandas as pd
import plotly.express as px

# OPEN DATASET

In [8]:
df = pd.read_csv('../../DATA/PREPROCESSING/prepro_01c_geo_calcul.csv')
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Distance (miles),Driving distance (miles),Driving duration (min)
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.639764,0.703741,2.111222
1,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.863167,0.949483,2.848450
2,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,1.737223,1.910945,5.732836
3,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,1.241710,1.365881,4.097642
4,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1,2.353742,2.589116,7.767348

# SCATTER PLOT OF DISTANCE AND DRIVING DISTANCE

In [9]:
# fig = px.scatter(df, x='Distance (miles)', y='fare_amount')
# fig.show()

In [10]:
# fig = px.scatter(df, x='Driving distance (miles)', y='fare_amount')
# fig.show()